.linked{
    text-decoration: underline;
    color: white;
    
}
.linked:hover{
    color:#f97316;
}
.story-container {
    background-color: #1C1C1C;
    width: 100%;
}

.story-wrapper {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 60px;
    color: white;
    position: relative;
}

.footer{
    width: 80%;
    bottom: 0px;
    text-align: center;
    padding: 10px;
    border-top: 2px dashed #333;
}
.outlinefooter{
    justify-content: center;
    display: flex;
}
.flex-row {
    display: flex;
    gap: 40px;
}

.content-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items:"center"
}
.orange{
    color: #f97316;
}
.centeredinImg{
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxCenteredinImg{
    max-width: 500px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #f97316;
}
.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-text {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

.quote-section {
    border-left: 4px solid #f97316;
    padding-left: 20px;
    margin: 20px 0;
}
.orange{
    color: #f97316;
}

.quote-text {
    font-size: 18px;
    font-style: italic;
    color: #f97316;
    margin: 0 0 10px 0;
    line-height: 1.6;
}

.quote-author {
    color: #888;
    margin: 0;
    font-size: 16px;
}

.story-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.factIndo {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative; 
    z-index: 1; 
}

.factIndo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: -1;
}

.factIndo p {
    position: relative;
    z-index: 2;
    color: white;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 1024px) {
    .story-wrapper {
        padding: 40px;
    }
}

@media screen and (max-width: 768px) {
    .flex-row {
        flex-direction: column;
    }
    
    .story-wrapper {
        padding: 30px;
    }
    .content-section,
    .image-section {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .story-wrapper {
        padding: 20px;
    }
    
    .story-text,
    .quote-text {
        font-size: 16px;
    }
}